@section Bar {
    <section class="bg-primary p-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active">Şifremi Unuttum</li>
                </ol>
            </nav>
        </div>
    </section>
}

<section>
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card ">
                    <div class="card-header">
                        <h1 class="text-center h3 mb-0">Giriş Yap</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-controller="Account" asp-action="ForgotPassword" novalidate>

                            <div class="mb-3">
                                <label for="email" class="form-label">E-Posta</label>
                                <input type="email" id="email" name="email" class="form-control"></input>
                                @if (TempData["Mesaj"] != null)
                                {
                                    <span class="text-danger">
                                        @TempData["Mesaj"]
                                    </span>
                                }
                            </div>
                            <button type="submit" class="btn btn-primary">Şifremi Sıfırla</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}