@model AccountLoginModel

@section Bar {
    <section class="bg-primary p-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active">Giriş Yap</li>
                </ol>
            </nav>
        </div>
    </section>
}

<section>
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card ">
                    <div class="card-header">
                        <h1 class="text-center h3 mb-0">Giriş Yap</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-controller="Account" asp-action="Login" novalidate>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="mb-3">
                                <label asp-for="Email" class="form-label"></label>
                                <input asp-for="Email" class="form-control"></input>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label"></label>
                                <input asp-for="Password" class="form-control"></input>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="mb-3 form-check">
                                <input asp-for="BeniHatirla" class="form-check-input"></input>
                                <label asp-for="BeniHatirla" class="form-check-label"></label>
                                <span asp-validation-for="BeniHatirla" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Giriş Yap</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>