@model AccountLoginModel

@section Bar {
    <section class="bg-primary p-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active">Kullanıcı Ayarları</li>
                </ol>
            </nav>
        </div>
    </section>
}

<section>
    <div class="container my-3">

    </div>
</section>