<div class="list-group mb-3">
    <a asp-controller="Account" asp-action="EditUser" class="list-group-item list-group-item-action">
        Kullanıcı Bilgilerim
    </a>
    <a asp-controller="Account" asp-action="EditAddress" class="list-group-item list-group-item-action">
        Adres Bilgilerim
    </a>
    <a asp-controller="Order" asp-action="OrderList" class="list-group-item list-group-item-action">
        Siparişlerim
    </a>
    <a asp-controller="Account" asp-action="ChangePassword" class="list-group-item list-group-item-action">
        Parola Değiştir
    </a>
</div>