@{
    Layout = "_AdminLayout";
}
@model Kategori

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body  text-center">
                <p>"@Model.Ad" adlı kategoriyi silmek istediğinize emin misiniz?</p>
                <form method="post" asp-controller="Kategori" asp-action="DeleteConfirm">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Sil</button>
                    <a asp-controller="Kategori" asp-action="Index" class="btn btn-primary">İptal</a>
                </form>
            </div>
        </div>
    </div>
</div>

